<html>
    <head>
        <title></title>
    </head>
    <body>
        <button id="btn01">xxx</button>
        <div id="app">
            <button v-on:click="counter += 1">Add</button>
            <p>{{counter}}</p>
            <div style="border-style:solid;float:left;width:200px;margin-right:20px;" v-for="parent in parents">
                {{ parent.name }}
                <div class="child" style="border-width:1px;border-style:solid;float:left;width:200px;height:150px;" v-for="child in parent.children">
                    {{ child.name }}
                </div>
            </div>
        </div>
        <script src="jquery.js"></script>
        <script src="jquery-ui.js"></script>
        <script src="vue.js"></script>
        <script src="index.js"></script>
    </body>
</html>
