<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <input id="btnShow" type="button" value="現在のデータ状態を表示"/>
        <div id="app">
            <div class="parent" v-for="parent in parents" :data-id="parent.id">
                {{ parent.name }}
                <div class="child" v-for="child in parent.children" :data-id="child.id" v-bind:style="{ backgroundColor: child.color }">
                    {{ child.name }}({{ child.id }})
                </div>
            </div>
        </div>
        <script src="jquery.js"></script>
        <script src="jquery-ui.js"></script>
        <script src="vue.js"></script>
        <script src="index.js"></script>
    </body>
</html>
